In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("../data/raw/city_day.csv")
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [9]:
print("Rows: ", df.shape[0])
print("Columns: ",df.shape[1])

Rows:  29531
Columns:  16

In [11]:
list(df.columns)

['City',
 'Date',
 'PM2.5',
 'PM10',
 'NO',
 'NO2',
 'NOx',
 'NH3',
 'CO',
 'SO2',
 'O3',
 'Benzene',
 'Toluene',
 'Xylene',
 'AQI',
 'AQI_Bucket']

In [13]:
df.isnull().sum().sort_values(ascending=False).head(10)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
dtype: int64

In [15]:
print("Number of Cities: ", df["City"].nunique())
print("Date range:", df["Date"].min(), "to", df["Date"].max())

Number of Cities:  26
Date range: 2015-01-01 to 2020-07-01

In [17]:
df["AQI"].describe()

count    24850.000000
mean       166.463581
std        140.696585
min         13.000000
25%         81.000000
50%        118.000000
75%        208.000000
max       2049.000000
Name: AQI, dtype: float64

In [ ]:
## Data Understanding Summary

- Dataset contains daily air quality data for multiple Indian cities.
- Key pollutants include PM2.5, PM10, NO2, SO2, CO, and O3.
- Target variable for prediction is AQI.
- Data spans multiple years, enabling temporal analysis.